<template name="post">
    <div class="row">
        <div class="col-sm-12">
            <form class="form-horizontal">
                <fieldset>
                    <legend>New Post</legend>
                    <div class="row">
                        <div class="col-sm-9">
                            <textarea rows="3" class="form-control"></textarea>
                        </div>
                        <div class="col-sm-1">
                            <button class="btn btn-lg">Publish</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</template>