.btn{
    margin-bottom: 10px;
}

.button-div{
    float: right;
    margin-right: 15px;
    margin-top: 10px;
}

.filter-form{
    background: #F1F1F1;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 10px;
}

h1.page_name{
    font-size: 25px;
}

.margin-top-10{ margin-top: 10px;}