<template name="class_form">
    <form>
        <div class="col-xs-12">
            <label for="class-name">{{_ "name"}}</label>
            <input autofocus type="text" class="form-control" id="class-name" name="class-name" required="true">
        </div>

        <div class="col-xs-12 col-sm-6">
            <label>{{_ "created_by"}}</label>
            {{#if mode = new}}
                <input type="text" class="form-control" disabled value="{{currentUser.profile.name}}">
            {{/if}}
        </div>
        <div class="col-xs-12 col-sm-6">
            <label>{{_ "edited_by"}}</label>
            <input type="text" class="form-control" disabled>
        </div>
        <div class="col-xs-12 margin-top-10">
            <button class="btn btn-success">
                <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                {{_ "save"}}
            </button>
        </div>
    </form>
</template>