<template name="classes_view">
    <div>
        <form class="filter-form">
            <fieldset>
                <legend>{{_ "filter"}} ({{_ "header_menu_classes"}})</legend>
                <div class="col-xs-12 col-sm-6">
                    <label for="filter_name">{{_ "name"}}</label>
                    <input type="text" class="form-control" id="filter_name" name="filter_name">
                </div>
                <div class="col-xs-12 col-sm-6">
                    <label for="filter_created_by">{{_ "created_by"}}</label>
                    <input type="text" class="form-control" id="filter_created_by" name="filter_created_by">
                </div>
                <div class="button-div">
                    <button class="btn btn-primary">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        {{_ "filter"}}
                    </button>
                </div>
                <div class="clearfix"></div>
            </fieldset>
        </form>
    </div>

    <section class="list">
        <div>
            <a class="btn btn-success" href="/classes/new">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                {{_ "classes_view_new_class"}}
            </a>
        </div>
        <div class="table-responsive">
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th>{{_ "actions"}}</th>
                    <th>{{_ "name"}}</th>
                    <th>{{_ "created_by"}}</th>
                    <th>{{_ "edited_by"}}</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="btn-group btn-group-sm">
                                <a class="btn btn-primary" title="{{_ "hint_see"}}">
                                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                </a>
                                <a class="btn btn-warning" title="{{_ "hint_edit"}}">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                </a>
                                <button class="btn btn-danger" title="{{_ "hint_delete"}}">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </button>
                            </div>
                        </td>
                        <td>Sistemas de Informação</td>
                        <td>Cassiano Vellames</td>
                        <td>Cassiano Vellames</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

</template>