<template name="home">
    {{#if currentUser}}
       {{#with currentUser.profile}}
            {{#unless isActive}}
                <div class="alert alert-danger" id="alert-account-inactive">
                    <strong>{{_ "attention"}}!</strong> {{_ "alert-account-inactive-msg"}}
                </div>
            {{/unless}}
       {{/with}}

        {{#each currentUser.emails}}
            {{#unless verified}}
                <div class="alert alert-warning" id="alert-verify-email">
                    <strong>{{_ "attention"}}!</strong> {{_ "alert-verify-email-1"}} <strong>{{address}}</strong> {{_ "alert-verify-email-2"}}
                </div>
            {{/unless}}
        {{/each}}

    {{else}}
        <h1>Ta logado nao</h1>
    {{/if}}
</template>