<template name="header">
    <header>
        <nav class="navbar navbar-default">
            <div class="container-fluid">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    {{#if currentUser}}
                        {{#with currentUser.profile}}
                            <ul class="nav navbar-nav">

                                {{#if isAdmin}}
                                    <li><a href="/users">{{_ "header_menu_users"}}</a></li>
                                    <li><a href="/classes">{{_ "header_menu_classes"}}</a></li>
                                {{/if}}

                                <li><a href="/questions">{{_ "header_menu_questions"}}</a></li>
                            </ul>
                        {{/with}}
                    {{/if}}

                    <ul class="nav navbar-nav navbar-right">
                        {{> loginButtons}}
                    </ul>
                </div>
            </div>
        </nav>
    </header>
</template>